<form>
    <md-content layout-padding>
        <div>
            <md-input-container>
                <label>Adresse email</label>
                <input ng-model="user.email">
            </md-input-container>
            <md-input-container>
                <label>Mot de passe</label>
                <input ng-model="user.passwords">
            </md-input-container>
            <md-input-container>
                <label>Confirmation du mot de passe</label>
                <input ng-model="user.passwordConfirm">
            </md-input-container>
        </div>
    </md-content>
</form>